{% extends 'todos/base.html' %}

{% block title %}
  <title>Register</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg mt-5">
        <div class="card-header text-center">
          <h2>Register</h2>
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if messages %}
           
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
              </div>
            {% endif %}
            <div class="form-group">
                <label for="email">First_name</label>
                <input type="text" class="form-control" id="email" name="first_name" >
              </div>
              <div class="form-group">
                <label for="email">Last_name</label>
                <input type="text" class="form-control" id="email" name="last_name" >
              </div>
            <div class="form-group">
              <label for="email">Username</label>
              <input type="text" class="form-control" id="email" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" >
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="terms" name="terms">
              <label class="form-check-label" for="terms">I agree to the terms and conditions</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </form>
        </div>
        <div class="card-footer text-center">
          <small>Already have an account? <a href="/login">Login here</a></small>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
